lib-cov
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.rar
*.seed
*.sublime-*
*.zip
*.bak
.DS_Store

pids
logs
results
build
npm-debug.log
TODO.md

static/assets/*
node_modules
bower_components
_gh_pages
template
themes
public
temp
tmp
