@import "common/reset";
@import "common/code";
@import "common/typo";
@import "common/layout";
@import "list/archive";

.home {
  .slogan {
    font-size: 20px;
    margin: 1em 0;
  }
  .intro {
    margin: 2em 0;
    font-size: 16px;
  }
  .welcome {
		color: #eee;
		font-size: 2em;
		margin: 2em 0;
  }
  hr {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

