.btn {
  border-radius: 2px; }

code {
  color: #c92239;
  padding: 3px 6px;
  border-radius: 2px;
  background: #fdf2f4; }

pre {
  border-radius: 4px; }

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  margin-bottom: 1.2em; }

p + pre[class*="language-"] {
  margin-top: -0.2em; }

.highlight {
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 1em; }
  .highlight pre {
    margin: 0;
    padding: 0;
    background: none;
    color: #998;
    font-size: 1.2em;
    border: 0;
    line-height: 1.2; }

.token.delimiter {
  color: #bbb; }

@font-face {
  font-family: 'huggle';
  src: url("../fonts/huggle.eot?j8q7sr");
  src: url("../fonts/huggle.eot?#iefixj8q7sr") format("embedded-opentype"), url("../fonts/huggle.woff?j8q7sr") format("woff"), url("../fonts/huggle.ttf?j8q7sr") format("truetype"), url("../fonts/huggle.svg?j8q7sr#huggle") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'huggle';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-clock:before {
  content: "\e600"; }

.icon-github:before {
  content: "\e601"; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format("woff"); }

body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.subtitle {
  font-size: 1.5em;
  color: #666; }

.heading {
  margin-bottom: 30px; }
  .heading .meta {
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    color: #777; }

.readable {
  margin-bottom: 60px;
  line-height: 1.79em; }

p, ul, ol {
  margin-bottom: 1em; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.6em; }

h1 {
  padding-top: 0.3em; }

h2, h3, h4 {
  padding-top: 0.6em; }

#toc.affix {
  top: 20px; }

#TableOfContents ul {
  list-style: none;
  padding-left: 0; }

#TableOfContents > ul > li > ul {
  padding-left: 0;
  list-style: none; }
  #TableOfContents > ul > li > ul ul {
    padding-left: 0;
    margin: 0 0 0.5em;
    font-size: 0.88em; }
  #TableOfContents > ul > li > ul ul a {
    padding-left: 2em;
    padding-top: 3px;
    padding-bottom: 3px; }
  #TableOfContents > ul > li > ul ul ul {
    display: none; }

#TableOfContents a {
  padding: 4px 10px;
  display: block;
  border-left: 2px solid transparent;
  color: #888; }
  #TableOfContents a:hover {
    text-decoration: none;
    background: #f2f2f2; }

#TableOfContents .active > a {
  color: #2e8ab8;
  border-left-color: #39c;
  font-weight: 600; }

#TableOfContents > ul {
  padding-left: 0; }

#TableOfContents > ul > li {
  list-style: none;
  margin: 0; }

.absmiddle {
  margin: 4% auto;
  max-width: 600px;
  text-align: center; }

#header {
  margin-bottom: 40px;
  border-radius: 0;
  border-bottom: 1px solid #90c5df;
  background: #f6faff; }
  #header .main-nav a {
    color: #428bca; }
    #header .main-nav a:hover {
      color: #3071a9; }

#footer {
  color: #999;
  padding: 60px 0 30px;
  font-size: 13px; }
  .layout-single #footer {
    text-align: center; }

#disqus_thread {
  margin-top: 60px; }

.tip-box {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 1.5em;
  font-size: 12px; }
  .tip-box h5 {
    font-size: 13px;
    font-weight: 400; }

.aside .mod {
  margin-bottom: 30px; }

.meta-links {
  margin: 12px 0 0;
  padding-left: 2em;
  color: #aaa; }

.nav-links a + a {
  display: inline-block;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #ddd; }

.archive {
  margin-bottom: 10px;
  padding-left: 40px;
  position: relative; }

.archive-year {
  font-size: 1.5em;
  font-weight: normal;
  position: absolute;
  left: 0;
  padding: 0.6667em 0;
  color: #999;
  font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif; }

.archive-posts {
  list-style: none;
  color: #999; }
  .archive-posts h4 {
    padding: 0; }
  .archive-posts li {
    padding: 1em 0 1em 5em;
    position: relative;
    border-bottom: 1px dotted #eee; }
  .archive-posts time {
    font-size: 1.08em;
    text-transform: uppercase;
    position: absolute;
    top: 0.9em;
    left: 0; }

.archive-categories {
  color: #bbb; }
  .archive-categories a {
    color: #999;
    text-decoration: underline; }

.home .slogan {
  font-size: 20px;
  margin: 1em 0; }

.home .intro {
  margin: 2em 0;
  font-size: 16px; }

.home .welcome {
  color: #eee;
  font-size: 2em;
  margin: 2em 0; }

.home hr {
  margin-bottom: 30px;
  margin-top: 30px; }
