
#toc {
  &.affix {
    top: 20px;
  }
}


#TableOfContents {
  ul {
    list-style: none;
    padding-left: 0;
  }
  > ul > li > ul {
    padding-left: 0;
    list-style: none;
    ul {
      padding-left: 0;
      margin: 0 0 0.5em;
      font-size: 0.88em;
    }
    ul a {
      padding-left: 2em;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    ul ul {
      display: none;
    }
  }
  a {
    padding: 4px 10px;
    display: block;
    border-left: 2px solid transparent;
    color: #888;
    &:hover {
      text-decoration: none;
      background: #f2f2f2;
    }
  }
  .active > a {
    color: darken($nav_highlight, 5%);
    border-left-color: $nav_highlight;
    font-weight: 600;
  }
  >ul {
    padding-left: 0;
  }
  >ul>li {
    list-style: none;
    margin: 0;
    >a {
    }
  }
}

