@import "./font";

.subtitle {
  font-size: 1.5em;
  color: #666;
}

.heading {
  margin-bottom: 30px;
  .meta {
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    color: #777;
  }
}

.readable {
  margin-bottom: 60px;
  line-height: 1.79em;
}

p, ul, ol {
  margin-bottom: 1em;
}
h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.6em;
}
h1 {
  padding-top: 0.3em;
}
h2, h3, h4 {
  padding-top: 0.6em;
}

