/* line 1, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_reset.scss */
.btn {
  border-radius: 2px; }

/* line 3, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_code.scss */
code {
  color: #c92239;
  padding: 3px 6px;
  border-radius: 2px;
  background: #fdf2f4; }

/* line 10, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_code.scss */
pre {
  border-radius: 4px; }

/* line 14, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_code.scss */
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  margin-bottom: 1.2em; }

/* line 17, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_code.scss */
p + pre[class*="language-"] {
  margin-top: -0.2em; }

/* line 22, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_code.scss */
.highlight {
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 1em; }
  /* line 26, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_code.scss */
  .highlight pre {
    margin: 0;
    padding: 0;
    background: none;
    color: #998;
    font-size: 1.2em;
    border: 0;
    line-height: 1.2; }

/* line 37, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_code.scss */
.token.delimiter {
  color: #bbb; }

@font-face {
  font-family: 'huggle';
  src: url("fonts/huggle.eot?j8q7sr");
  src: url("fonts/huggle.eot?#iefixj8q7sr") format("embedded-opentype"), url("fonts/huggle.woff?j8q7sr") format("woff"), url("fonts/huggle.ttf?j8q7sr") format("truetype"), url("fonts/huggle.svg?j8q7sr#huggle") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 12, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'huggle';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 26, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_icons.scss */
.icon-clock:before {
  content: "\e600"; }

/* line 29, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_icons.scss */
.icon-github:before {
  content: "\e601"; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format("woff"); }

/* line 22, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_font.scss */
body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 3, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_typo.scss */
.subtitle {
  font-size: 1.5em;
  color: #666; }

/* line 8, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_typo.scss */
.heading {
  margin-bottom: 30px; }
  /* line 10, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_typo.scss */
  .heading .meta {
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    color: #777; }

/* line 17, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_typo.scss */
.readable {
  margin-bottom: 60px;
  line-height: 1.79em; }

/* line 22, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_typo.scss */
p, ul, ol {
  margin-bottom: 1em; }

/* line 25, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_typo.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.6em; }

/* line 29, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_typo.scss */
h1 {
  padding-top: 0.3em; }

/* line 32, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_typo.scss */
h2, h3, h4 {
  padding-top: 0.6em; }

/* line 3, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
#toc.affix {
  top: 20px; }

/* line 10, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
#TableOfContents ul {
  list-style: none;
  padding-left: 0; }

/* line 14, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
#TableOfContents > ul > li > ul {
  padding-left: 0;
  list-style: none; }
  /* line 17, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
  #TableOfContents > ul > li > ul ul {
    padding-left: 0;
    margin: 0 0 0.5em;
    font-size: 0.88em; }
  /* line 22, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
  #TableOfContents > ul > li > ul ul a {
    padding-left: 2em;
    padding-top: 3px;
    padding-bottom: 3px; }
  /* line 27, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
  #TableOfContents > ul > li > ul ul ul {
    display: none; }

/* line 31, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
#TableOfContents a {
  padding: 4px 10px;
  display: block;
  border-left: 2px solid transparent;
  color: #888; }
  /* line 36, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
  #TableOfContents a:hover {
    text-decoration: none;
    background: #f2f2f2; }

/* line 41, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
#TableOfContents .active > a {
  color: #2e8ab8;
  border-left-color: #39c;
  font-weight: 600; }

/* line 46, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
#TableOfContents > ul {
  padding-left: 0; }

/* line 49, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_toc.scss */
#TableOfContents > ul > li {
  list-style: none;
  margin: 0; }

/* line 4, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
.absmiddle {
  margin: 4% auto;
  max-width: 600px; }

/* line 9, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
#header {
  margin-bottom: 40px;
  border-radius: 0;
  border-bottom: 1px solid #90c5df;
  background: #f6faff; }
  /* line 14, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
  #header .main-nav a {
    color: #428bca; }
    /* line 16, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
    #header .main-nav a:hover {
      color: #3071a9; }

/* line 22, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
#footer {
  color: #999;
  padding: 60px 0 30px;
  font-size: 13px; }
  /* line 26, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
  .layout-single #footer {
    text-align: center; }

/* line 31, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
#disqus_thread {
  margin-top: 60px; }

/* line 44, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
.tip-box {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 1.5em;
  font-size: 12px; }
  /* line 49, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
  .tip-box h5 {
    font-size: 13px;
    font-weight: 400; }

/* line 56, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
.aside .mod {
  margin-bottom: 30px; }

/* line 61, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
.meta-links {
  margin: 12px 0 0;
  padding-left: 2em;
  color: #aaa; }

/* line 68, /Users/jesse/projects/yjc-hugo/themes/huggle/src/styles/common/_layout.scss */
.nav-links a + a {
  display: inline-block;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #ddd; }

/* line 7, stdin */
.home .slogan {
  font-size: 20px;
  margin: 1em 0; }

/* line 11, stdin */
.home .intro {
  margin: 2em 0;
  font-size: 16px; }

/* line 15, stdin */
.home hr {
  margin-bottom: 30px;
  margin-top: 30px; }
