<footer id="footer">
{{ if .Site.Params.copyright }}
  {{ .Site.Params.copyright | safeHtml }}
{{ else }}
  &copy; 2014 {{ or .Site.Params.author .Site.Title }}
{{ end }}
&nbsp;
{{ if .Params.otherlangs }}
  {{ range $index, $lang := .Params.otherlangs }}
    <a href="{{ $.Site.BaseUrl }}/{{echoParam $.Params.otherslugs $index}}">{{ index $.Site.Params.languages $lang }}</a>
    |
  {{ end }}
{{ end }}
<a href="https://github.com/ktmud/huggle">Github</a>
</footer>
<script src="/static/vendor.js"></script>
<script src="/static/app.js"></script>

