.absmiddle {
  margin: 10% auto;
  max-width: 600px;
}

#header {
  margin: 30px 0 20px;
}

#footer {
  color: #999;
  padding: 60px 0 30px;
  font-size: 13px;
  .layout-single & {
    text-align: center;
  }
}

#disqus_thread {
  margin-top: 60px;
}

