.absmiddle
  margin: 10% auto
  max-width: 600px

#header
  margin: 30px 0 20px

#footer
  color: #aaa
  padding: 60px 0 30px
  .layout-single &
    text-align: center

.readable
  margin-bottom: 60px

#disqus_thread
  margin-top: 60px


