body
  font-family: 'Merriweather', 'Lora', serif;

.subtitle
  font-size: 1.5em
  color: #666

.heading
  margin-bottom: 30px
  padding-bottom: 0.5em
  border-bottom: 1px solid #eee

.readable
  margin-bottom: 60px

p, ul, ol
  margin-bottom: 1em

h1, h2, h3, h4, h5
  margin-bottom: 0.5em

h2, h3, h4
  margin-top: 1em
