{{ $lang := $.Scratch.Get "lang" }}

{{ if (eq $lang "en") }}
  <ul class="list-inline">
    <li>
      By <strong class="author">{{ or .Params.author .Site.Params.author_en .Site.Params.author }}</strong>
    </li>
    <li>
      <span class="icon-clock"></span>
      <time pubdate class="pubdate" datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
    </li>
    {{ if and (isset .Params "commentable") (not .Params.commentable) }}
    {{ else if .Site.Params.disqus }}
      <li><a href="#disqus_thread"></a></li>
    {{ end }}
  </ul>
{{ else if (eq $lang "zh") }}
  <ul class="list-inline">
    <li>
      <strong class="author">{{ or .Params.author .Site.Params.author_zh .Site.Params.author }}</strong> 发表于
    </li>
    <li>
      <span class="icon-clock"></span>
      <time pubdate class="pubdate" datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
    </li>
    {{ if and (isset .Params "commentable") (not .Params.commentable) }}
    {{ else if .Site.Params.disqus }}
      <li class="hidden-print"><a href="#disqus_thread"></a></li>
    {{ end }}
  </ul>
{{ end }}

