{{ if (isset .Params "commentable") and (not .Params.commentable) }}
{{ else if .Site.Params.disqus }}
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = '{{ .Site.Params.disqus }}';
  // var disqus_identifier = '{{ .RelPermalink }}';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{{ end }}
