{{ partial "layouts/landing.begin.html" . }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ .Site.Title }}</title>
</head>
<body>
	<div class="home">
		<h1 class="heading">{{ .Title }}</h1>
		<p class="slogan"><em>{{ .Params.slogan }}</em>
    <ul class="select-languages">
    {{ range $lang_code, $lang_name := .Site.Params.languages }}
      <li><a href="{{ $.Site.BaseURL }}{{ $lang_code }}/">{{ $lang_name }}</a>
    {{ end }}
    </ul>
	</div>
  {{ partial "footer.html" . }}
</body>
</html>
